:root{
    --bg: #1E4E59;
    --title: #618C8C;
    --paragraph: #BFD9D6;
    --box: #2D7352;
    --box1: #72A68E;

}

body{
    font-family: 'Courier New', Courier, monospace;
    background: var(--bg);    
}

h1{
    color: var(--title);
    text-align: center;
}

h3{
    color: var(--box1);
    margin-top: 3em;
    
    
}

h4{
    font-weight: bold;
    color: var(--title);
}

p{
    color: var(--paragraph);
}

#area{
    background: var(--box);
    color: var(--paragraph);
    width: 10em;
    height: 7em;
    border-radius: 1em;
    /* text-transform: uppercase; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

#res{
    border: solid 1px var(--box1);
    border-radius: 2em;
    color: var(--paragraph);
    width: 15%;
    margin-top: 1em;
    text-align: center;
}